.header-wrapper {
  position: relative;
  margin: auto;
  width: 1080px;
  height: 300px;
}

.header-wrapper li {
  float: right;
  margin-right: 3rem;
}

.header-menu {
  position: relative;
  top: -9.5rem;
}
